.wrapper{
    font-size: 16px;
    font-family: 'Merriweather';
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #5CD1A5 ;
    color: #464646;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: #6D6E6C;
    cursor: pointer;
}
i{
    cursor: pointer;
}
.extra{
    font-size: 12px;
    color: #ddd;
}
.box{
    width: 100%;
    height: auto;
    background-color: #fff ;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.5em;
    display: inline-block;
}
.box h1{
    font-size: 30px;
    font-weight: bold;
}
.box img{
    width: 100%;
    height: 260px;
}
.like{
    color:#EF6763 ;
}
.add-post{
    width: 50px;
    height: 50px;
    border: 0px;
    background-color: #F44336;
    color: #fff;
    border-radius: 100%;
    position: fixed;
    right: 50px;
    top: 90%;
    font-size: 30px;
    font-weight: bolder;
}
.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
@media (max-width: 960px){
    body{
        font-size: 30px;
    }
    .box{
        margin:0.5em 0em;
        width: 100%;
        border-radius: 0px;
    }
    .add-post{
        width: 80px;
        height: 80px;
        font-size: 40px;
        font-weight: bolder;
        top: 80%;
    }
}
