.wrapper{
    font-size: 16px;
    font-family: 'Merriweather';
    margin: 5em;
}
a:hover{
    color: #fff;
}
input[type=text],input[type=password]{
    margin: 0.5em;
    border: 0px;
    border-bottom: 2px;
}
input[type=text]:hover,input[type=password]:hover{
    border-bottom: 1px solid #6600ff;
}
.intro{
    background-color: #6600ff;
    padding: 6em;
    color: #fff;
    height: 450px;
}
.btn{
    border: 0px;
    background-color: #6600ff;
    color: #fff;
    font-size: 20px;
    margin: 0.5em;
}
.btn:hover{

}
